<center>
  <h1><%=t('find_a_restaurant_for_lunch')%></h1>
  <%- if Restaurant.any? %>
    <p>
      @@<%=t('')%>66f8bfc0-ec1b-4534-b2ab-a91e444ba083@@
    </p>
  <%- else %>
    <p>
      @@<%=t('')%>238b89b0-3bb4-4582-99e1-754923239f8d@@
    </p>
  <%- end %>
  <p>
    @@<%=t('')%>61ce084b-429f-47f7-a32e-90b7a19c455a@@
  </p>
</center>
