<center>
  <h1><%=t('find_a_restaurant_for_lunch')%></h1>
  <%- if Restaurant.any? %>
    <p>
      @@<%=t('')%>27871e64-2a60-4dfc-ae3f-f30513f1ea03@@
    </p>
  <%- else %>
    <p>
      @@<%=t('')%>4b5d1bba-2928-42c5-8159-0e0430e43842@@
    </p>
  <%- end %>
  <p>
    @@<%=t('')%>287b3423-b16b-4d9b-b8f8-25387bb5674a@@
  </p>
</center>
